<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/layout_pages_login">

<th:block layout:fragment="custom_style" th:remove="tag">

</th:block>


<title th:text="#{label.badUser.title}">bad user</title>


<th:block layout:fragment="content" th:remove="tag">

	<div class="login-box">
		<div class="login-logo">
			<a href="/" th:href="@{/}"><b>TennisCrawler</b>.com</a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<h1 class="alert alert-danger" th:text="${param.message[0]}">error</h1>
			<br /> <a class="btn btn-default" th:href="@{/registration.html}"
				th:text="#{label.form.loginSignUp}">signup</a>

			<div th:if="${param.expired[0]}">
				<br />
				<h1 th:text="#{label.form.resendRegistrationToken}">resend</h1>
				<button onclick="resendToken()">resend</button>


			</div>

		</div>
	</div>

</th:block>


<div layout:fragment="custom_script" th:remove="tag">
	<script th:inline="javascript">
var serverContext = [[@{/}]];

function resendToken(){
	var token = [[${param.token}]];
    $.get(serverContext + "user/resendRegistrationToken?token="+token, function(data){
        window.location.href = serverContext +"login?message=" + data.message;
    })
    .fail(function(data) {
        if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else{
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
    });
}

$(document).ajaxStart(function() {
    $("title").html("LOADING ...");
});
</script>
</div>