<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/layout_pages_login">

<th:block layout:fragment="custom_css" th:remove="tag">
	
</th:block>

<title th:text="#{label.pages.home.title}">Title</title>

<div layout:fragment="custom_script" th:remove="tag">

	<script th:inline="javascript">
		$('.js-error').hide();
		function validate() {
			$('.js-error').hide();
			$('.js-error').html();
			if (document.f.username.value == ""
					&& document.f.password.value == "") {
				$('.js-error').html(/*[[#{message.username} + #{message.password}]]*/);
				$('.js-error').show();
				document.f.username.focus();
				return false;
			}
			if (document.f.username.value == "") {
				$('.js-error').html(/*[[#{message.username}]]*/);
				$('.js-error').show();
				document.f.username.focus();
				return false;
			}
			if (document.f.password.value == "") {
				$('.js-error').html(/*[[#{message.password}]]*/);
				$('.js-error').show();
				document.f.password.focus();
				return false;
			}
		}
	</script>

</div>

<th:block layout:fragment="content" th:remove="tag">

	<div class="login-box">
		<div class="login-logo">
			<a href="/" th:href="@{/}"><b>TennisCrawler</b>.com</a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">

			<h1 th:text="#{label.form.loginTitle}">Header</h1>

			<div th:if="${param.message != null}" class="alert alert-info"
				th:text="${param.message[0]}">message</div>

			<form name='f' action="login" method='POST'
				onsubmit="return validate();">
				
				<div class="alert alert-danger js-error"></div>
				
				<div th:if="${param.error != null && session[SPRING_SECURITY_LAST_EXCEPTION] != null	}" class="alert alert-danger"
					th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

				<div th:if="${param.logout}">
					<div class="alert alert-info">You have been logged out.</div>
				</div>

				<div class="form-group has-feedback">
					<input type="text" name="username" class="form-control"
						placeholder="Username"> <span
						class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Password"
						name="password"> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox">
								<label> <input type="checkbox" name="remember-me">
									Remember Me
								</label>
							</div>
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Sign
							In</button>
					</div>
					<!-- /.col -->
				</div>

			</form>
			<!-- <br /> Current Locale : <span th:text="${#locale}"></span><br /> <br /> -->
			 <a
				class="btn btn-default" th:href="@{/registrationCaptcha.html}"
				th:text="#{label.form.loginSignUpCaptcha}">Sign Up</a> <br />
			<br /> <a class="btn btn-default" th:href="@{/forgetPassword.html}"
				th:text="#{message.resetPassword}">reset</a>
		</div>

	</div>
</th:block>