<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/layout_pages">


<title th:text="#{label.pages.home.title}">home</title>
<th:block layout:fragment="custom_css" th:remove="tag">

</th:block>

<title th:text="#{label.pages.home.title}">home</title>

<th:block layout:fragment="content" th:remove="tag">
	<h2>Currently logged in users</h2>
	<div th:each="user : ${users}">
		<p th:text="${user}">user</p>
	</div>

</th:block>